@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

body {
  background-color: var(--bg-primary);
  color: var(--text);
  transition: 0.2s ease;
  margin: 0;
  padding: 0;
}
